<div class="modal-small">
    <div class="modal-header">
        <h5 class="modal-title">Добавить тип документа</h5>
    </div>
    <form name="form" ng-submit="" role="form">
        <div class="modal-body ">
            <div class="form-group">
                <label>Тип документа</label>
                <input type="text" name="Code" class="form-control unit-value" ng-model="documentType.Description" required min="1" max="99" />
            </div>
            <div class="form-group">
                <label>Сокращенное наименование</label>
                <input type="text" name="Description" ng-model="documentType.ShortDescription" class="form-control unit-value" required maxlength="20" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary  btn-over" ng-click="addNewDocumentType(documentType,form)">Сохранить</button>
            <button type="button" class="btn btn-warning btn-over" ng-click="cancel()" ng-disabled="isGenerationReport">Выход</button>
        </div>
    </form>
</div>