<div style="width: 100%; float: left;">
    <br />
    <div>
        <div class="clearfix"></div>
        <div class="block-left"><button type="button" class="btn btn-sm btn-newAlbum-param btn-primary " ng-click="windowAddNewAlbum()">Добавить новый альбом</button></div>
        <div class="block-left"><button type="button" class="btn btn-sm btn-newAlbum-param btn-danger" ng-click="openTreePage()">Открыть в тревью</button></div>
        <div style="margin-top: 20px;">
            <div id="portlet" ui-grid="gridAlbums" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-move-columns ui-grid-save-state ui-grid-cellNav ng-style="{'height':mh}">
            </div>
        </div>

    </div>
</div>